<div class="page-container more-padding-top">
  <span class="page-title">Sign In</span>
  <div class="input-container-styled mt-16">
    <label for="email">Email</label>
    <input class="styled" type="email" name="email" [(ngModel)]="email" />
  </div>
  <div class="input-container-styled mt-24">
    <label for="password">Password</label>
    <input
      class="styled"
      type="password"
      name="password"
      [(ngModel)]="password"
    />
  </div>
  <button (click)="signIn()" class="mt-32">Sign In</button>
  <button class="mt-8 secondary" (click)="goToSignUpPage()">Sign Up</button>
  <button class="mt-8 google" (click)="googleLogin()">
    <div class="icon"></div>
    Sign in with Google
  </button>
</div>
