<div class="navbar">
  <span class="navbar_title">Costs Logger</span>
  <div class="navigation_menu">
    <span routerLink="/add" routerLinkActive="active">Add</span>
    <span routerLink="/history" routerLinkActive="active">Transactions</span>
    <span routerLink="/summary" routerLinkActive="active">Summary</span>
    <span routerLink="/categories" routerLinkActive="active">Categories</span>
  </div>
  <div class="navbar_accountMenu">
    <span class="mail" *ngIf="email$ | async as email">{{email}}</span>
    <span class="logout" *ngIf="isLoggedIn$ | async" (click)="logout()">Logout</span>
  </div>
</div>
