<div class="container">
  <div class="date">
    <span class="hidden-header">Date: </span
    >{{ transaction.date | date: "dd/MM/yyyy" }}
  </div>
  <div><span class="hidden-header">Name: </span>{{ transaction.name }}</div>
  <div class="category">
    <span class="hidden-header">Category: </span>{{ transaction.category }}
  </div>
  <div
    class="amount"
    [ngClass]="{ income: transaction.isIncome, outcome: !transaction.isIncome }"
  >
    <span class="hidden-header">Amount </span
    >{{ transaction.amount | currency: "EUR":"symbol":"1.2-2" }}
  </div>
  <div (click)="deleteTransaction()" class="delete hide"></div>
  <div class="delete-transaction-text" (click)="deleteTransaction()">
    Delete Transaction
  </div>
</div>
