.container {
    display: grid;
    grid-template-columns: 75px  calc(100% - 403px) 100px 108px 24px;
    gap: 8px 24px;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    margin-top: 4px;

    & .date {
        text-align: left;
        opacity: 0.8;
    }

    & .category {
        opacity: 0.6;
    }

    & .amount {
        font-size: 20px;
        line-height: 29px;
        font-weight: bold;
    }

    & .delete {
        cursor: pointer;
        width: 24px;
        height: 24px;
        background-image: url(./img/delete.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        &:hover {
            opacity: 0.6;
        }
    }
}

.income {
    color: green;
}

.outcome {
    color: red;
}