<div class="page-container more-padding-top">
  <span class="page-title">Sign Up</span>
  <div class="input-container-styled mt-16">
    <label for="email">Email</label>
    <input class="styled" type="email" name="email" [(ngModel)]="email" />
  </div>
  <div class="input-container-styled mt-24">
    <label for="password">Password</label>
    <input
      class="styled"
      type="password"
      name="password"
      [(ngModel)]="password"
    />
  </div>
  <div class="input-container-styled mt-24">
    <label for="passwordVerification">Password Verification</label>
    <input
      class="styled"
      type="password"
      name="passwordVerification"
      [(ngModel)]="passwordConfirmation"
    />
  </div>
  <div class="buttons-flex">
    <button class="secondary" (click)="goToSignInPage()">Cancel</button>
    <button (click)="signUp()">Sign Up</button>
  </div>
</div>
