<div class="page-container extended">
  <div class="transactions-group">
    <div class="page-title special">
      <span
        >{{ returnMonthName(transactions.month) }} {{ transactions.year }} </span
      >
      <span class="green ml-16">+ {{
        transactions.totalIncome | currency: "EUR":"symbol":"1.2-2"
      }}</span>
      <span class="red ml-16">- {{
        transactions.totalOutcome | currency: "EUR":"symbol":"1.2-2"
      }}</span>
    </div>
    <app-transaction
      *ngFor="let trans of transactions.transactions;let i = index"
      [isLast]="i === (transactions.transactions.length - 1)"
      [transaction]="trans"
    ></app-transaction>
  </div>
</div>
