.transactions-group {
  & {
    max-width: 678px;
    margin: auto;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 29px;
  }

  & .header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 29px;
    align-items: center;
    margin: auto;
    gap: 24px;
    margin-bottom: 16px;

    & .min-width {
      min-width: 160px;
    }

    & .v-flex {
      display: flex;
      gap: 4px;
      align-items: center;
      width: max-content;
      margin: auto;
      text-align: left;
      margin-right: auto;
      width: 100%;
    }

    & .v-flex .title {
      color: black;
      font-size: 20px;
      line-height: 29px;
    }

    & .income {
      color: #06cd06;
    }

    & .outcome {
      color: #fd6d6d;
    }
  }
}
