.container {
  display: grid;
  grid-template-columns: 27% calc(58% - 172px) 15% 124px;
  gap: 8px 16px;
  align-items: center;
  font-size: 14px;
  line-height: 19px;
  margin-top: 4px;

  & > div {
    height: 19px;
  }

  span.val {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
  }

  & .date-category {
    text-align: left;
    opacity: 0.7;

    & span.val {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
    }
  }
}

.hidden-header {
  display: none;
}

.income {
  color: #0796f5;
}

.outcome {
  color: #f8690a;
}

.grid-placeholder {
  display: none;
}

@media only screen and (max-width: 510px) {
}

@media only screen and (max-width: 500px) {
  div.grid-placeholder {
    display: none;
  }

  .hidden-header {
    display: inline-block;
    font-weight: bold;
    margin-right: 4px;
  }

  .hide {
    display: none;
  }

  .grid-placeholder {
    display: inline-block;
  }

  .category {
    opacity: 1 !important;
  }

  .container {
    grid-template-columns: calc(50% - 8px) calc(50% - 8px);
    grid-gap: 0px 4px;
    border-bottom: 1px solid #59a1d1;

    &.no-border {
      border-bottom: 0px;
    }

    & > div {
      height: unset;
    }
  }
}

@media only screen and (max-width: 420px) {
  div.container {
    grid-template-columns: 100% !important;
    padding-bottom: 16px;
  }
}
