.categories-flex {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 15px;
  width: 100%;
  justify-content: center;
  max-width: 678px;
  margin: auto;
  margin-top: 16px;
}

.new-category {
  max-width: 498px;
  margin: auto;
  margin-top: 16px;
}

.page {
  width: 100%;
  max-width: 498px;
  margin: auto;
}

.mt-24 {
  margin-top: 24px;
}