.btn {
    width: 100%;
    padding: 4px 16px;
    background-color: white;
    border: 1px solid #59a1d1;
    box-sizing: border-box;
    color: #59a1d1;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    transition-duration: 0.1s;
    cursor: pointer;
    min-width: 143px;
    border-radius: 8px;
    max-width: 143px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .btn:hover:not(.selected) {
    background-color: #59a1d1;
    color: white;
    opacity: 0.8;
  }

  .btn.selected {
    background-color: #59a1d1;
    color: white;
  }

@media only screen and (max-width: 500px) {
  .btn {
    font-size: 14px;
    min-width: 115px;
    max-width: 115px;
  }
}