.btn {
    width: 100%;
    padding: 4px 16px;
    background-color: white;
    border: 1px solid #107dac;
    box-sizing: border-box;
    color: #107dac;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    transition-duration: 0.1s;
    cursor: pointer;
    min-width: 143px;
    border-radius: 8px;
    max-width: 143px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .btn:hover:not(.selected) {
    background-color: #107dac;
    color: white;
    opacity: 0.8;
  }

  .btn.selected {
    background-color: #107dac;
    color: white;
  }