/* You can add global styles to this file, and also import other style files */
input.styled {
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgb(199, 199, 199);
  box-sizing: border-box;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 19px;
  outline: none;
  width: 100%;
  &:focus,
  &:hover {
    border: 1px solid rgb(155, 155, 155);
  }
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(155, 155, 155) red;
    opacity: 0.8; /* Firefox */
  }

  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }
}

span.styled-error-text {
  font-size: 12px;
  line-height: 14px;
  color: red;
  margin-top: 2px;
}

div.input-container-styled {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2px;
}

label.styled {
  font-size: 14px;
  color: black;
  line-height: 19px;
}

button {
  border: 1px solid #189ad3;
  border-radius: 4px;
  background-color: #107dac;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
  text-align: center;
  box-sizing: border-box;
  min-width: 100px;
  width: 100%;
  margin: auto;
  display: block;

  &:hover {
    opacity: 0.8;
  }
}

html {
  background-color: #0c6aa9;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.ml-16 {
  margin-left: 16px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.button-and-input-flex {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  gap: 8px;
  & button {
    margin: 0;
  }
}

.title {
  font-size: 20px;
  line-height: 29px;
  color: black;
  display: block;
}

.page-title {
  font-size: 24px;
  line-height: 32px;
  color: black;
  display: block;
  text-align: center;

  &.special {
    width: calc(100% + 48px);
    margin-left: -24px;
    border-bottom: 2px solid #0c6aa9;
    padding-bottom: 8px;
    margin-bottom: 24px;
  }
}

.page-container {
  background-color: white;
  margin: auto;
  width: 100%;
  max-width: 498px;
  box-sizing: content-box;
  padding: 8px 24px 32px 24px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
  transition-duration: 0.15s;
  border-radius: 8px;
  box-sizing: border-box;

  &.extended {
    max-width: 678px;
  }

  &:hover {
    box-shadow: 8px 8px 8px rgb(0 0 0 / 30%);
  }
}

.bold {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .button-and-input-flex {
    flex-direction: column;
    gap: 8px;
  }
}